
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}



body {
    background: #1A0B2E;
    color: white;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;

    align-items: center;
    height: 96px;
    padding: 0 90px;

}

.logo {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.logo span {
    background: linear-gradient(-1deg, #e1a40bcd 0%, #ff2bd6 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0 0 10px rgba(255, 43, 214, 0.35);
}


nav ul {
    list-style: none;
    display: flex;
    gap: 48px;
}

nav ul li {
    cursor: pointer;
    opacity: 0.85;
    font-size: 16px;
    font-weight: 500;
}

.subscribe-btn {
    background: linear-gradient(45deg, #f9b50be2, #e723c0);
    border: none;
    padding: 12px 28px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;

    transition: background-color 0.3s ease, transform 0.3s ease,
        box-shadow 0.3s ease;
}

.subscribe-btn:hover {
    background: linear-gradient(45deg, #bb8c16e2, #b51b96);
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(149, 63, 132, 0.35);
}

.subscribe-btn:active {
    transform: translateY(1px);
    box-shadow: 0 3px 8px rgba(255, 43, 214, 0.25);
}

.subscribe-btn img {
    width: 14px;
}

#banner {
    position: relative;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    border-top: 1px solid rgba(255, 255, 255, 0.12);

    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(
            to bottom,
            rgba(26, 11, 46, 0) 60%,
            #1A0B2E 100%
        ),
        radial-gradient(circle, transparent 30%, rgba(0, 0, 0, 0.35));
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
}

.mic-circle {
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background-image: url("../assets/hero-circle.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 32px;
    position: relative;
    z-index: 1;
}

.mic-circle img {
    width: 30%;
    position: relative;
    z-index: 2;
}

.new-badge {
    position: absolute;
    top: 30px;
    right: 40px;

    background: linear-gradient(180deg, #28e7a7, #00E5A8);
    color: #0b1f17;

    padding: 7px 15px;
    width: 80px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;

    border-radius: 999px;

    box-shadow:
        0 0 12px rgba(0, 255, 180, 0.5),
        0 0 28px rgba(0, 255, 180, 0.2);
    z-index: 5;
}

#banner h1 {
    font-size: 60px;
    margin-top: 40px;
    letter-spacing: 0.5px;
    font-weight: 800;
}

#banner p {
    margin-top: 10px;
    max-width: 560px;
    margin: 0 auto 38px;
    opacity: 0.75;
    line-height: 1.6;
    font-size: 16px;
}

.cta-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 24px;
}

.spot {
    background: linear-gradient(30deg, #ffb800, #ff2bd6);
    border: none;
    padding: 14px 28px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.subs {
    background: transparent;
    border: 1px solid #00ff9c;
    padding: 14px 28px;
    border-radius: 30px;
    color: #00ff9c;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.spot,
.subs {
    transition: background-color 0.3s ease, transform 0.3s ease,
        box-shadow 0.3s ease;
}


.spot:hover {
    background: linear-gradient(45deg, #bb8c16e2, #b51b96);
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(152, 59, 134, 0.35);
}

.spot:active {
    transform: translateY(1px);
    box-shadow: 0 3px 8px rgba(255, 43, 214, 0.25);
}

.subs:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(55, 57, 56, 0.35);
}

.subs:active {
    transform: translateY(1px);
    box-shadow: 0 3px 8px rgba(112, 132, 124, 0.25);
}


.cta-buttons img {
    width: 18px;
}

#about {
    align-items: center;
    text-align: center;
    background-color: #1A0B2E;
    padding: 50px 200px 120px;
}

#about .about-text {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.about-text h2 {

    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;

}

.about-text .pp {
    margin: 0 auto;
    align-items: center;
    font-size: 16px;
    width: 40%;
    text-align: center;
    line-height: 30px;
        opacity: 0.75;
}

.about-text .p {
    margin: 22px auto;
    align-items: center;
    font-size: 16px;
    text-align: center;
    opacity: 0.75;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 80px;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    
}

.cards h2 {
    margin-top: 80px;
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    text-align: center;

}

.cards p {
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    opacity: 0.85;
}

#grid {
    margin: 0 auto;
    padding: 120px 200px;
    background: #230E3D;
    height: 100%;
    
}

#grid .why-text h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}



.grid-container {
    max-width: 1400px;
    max-height: 800px;
    margin: 64px auto 0;
    padding: 0 24px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 32px;
}


.grid-container > div {
    background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
    padding: 40px;
    color: white;

    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: 14px;
    

    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.04);
}

.grid-container img {
    width: 50px;
    height: auto;
}

.grid-container h3 {
    font-size: 22px;
    font-weight: bold;
}

.grid-container p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.75;
}



.grid-cards1 {
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.grid-cards1 img {
    margin-top: 50px;
}

.grid-cards2 {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

.grid-cards3 {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
}

.grid-cards4 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.grid-cards5 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

#episode {
    padding: 80px 5%;
    color: #ffffff;
}


.podcast {
    max-width: 1500px;
    margin: 0 auto;
}

.podcast h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
    letter-spacing: 0.4px;
}

.podcast-ep {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
}

.frame {
    height: 450px;
    background: #250D44;
    border-radius: 20px;
    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.5),
        inset 0 0 0 1px rgba(255, 255, 255, 0.05);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.frame:hover {
    transform: translateY(-10px);
    box-shadow:
        0 30px 60px rgba(0, 0, 0, 0.7),
        inset 0 0 0 1px rgba(255, 255, 255, 0.08);
}


.frame iframe {
    width: 100%;
    height: 200px;
    border-radius: 14px;
    border: none;
    margin-bottom: 18px;
}

.frame h3 {
    margin: 0 20px;
    font-size: 24px;
    font-weight: bold;
    width: 80%;

}

.frame p {
        margin: 12px 20px;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.75;
}



.host h2 {

    margin-top: 120px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.host .intro-host {

    

    background-color: rgba(53, 17, 101, 0.4);
    border: none;
    border-radius: 40px;
    padding: 40px;
    margin: 40px 250px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.intro-host name {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.intro-host h3 {
    font-size: 32px;
    font-weight: bold;
}

.intro-host p {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.75;
    width: 93%;
}



.social-img {
    margin-top: 16px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.social-img a {
    position: relative;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    text-decoration: none;

    background:
        linear-gradient(#351165, #351165) padding-box,
        linear-gradient(135deg, #a855f7, #ec4899) border-box;

    border: 2px solid transparent;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


/* icon */
.social-img img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    z-index: 1;
}

/* hover animation */
.social-img a:hover {
    transform: translateY(-3px);
}

/* subtle glow on hover */
.social-img a:hover {
    box-shadow: 0 0 6px rgba(170, 54, 112, 0.6);
}
